
@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <header class="w3-container w3-pale-red w3-center" style="padding:105px 16px">
        <h1 class="w3-margin w3-jumbo">About Us</h1>
    </header>

    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-center">
                <h1><b>Animazing</b></h1>

                <p>
                    Animazing is a project with the dream of promoting Japanese Culture. Growing up, we struggled to find an apparel brand that we could truly get behind that gave us the feeling of "it gets me". Now, we can finally visualize our dream.
                </p>
                <p>
                    Our mission is to be a humble and spread Japanese culture across all medias and generations.
                </p>
                <p>
                    We are very grateful that you took the time to visit! Thank you so much ♥ ! We hope our clothing sparks joy in your life!
                </p>
            </div>

            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

</body>
</html>
