
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <header class="w3-container w3-deep-orange w3-center" style="padding:105px 16px">
        <h1 class="w3-margin w3-jumbo">Deals of the day</h1>
    </header>

    <p></p>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading"> FLASH SALE! $10 ONLY !</div>
                    <div class="panel-body"><img src="https://www.dhresource.com/0x0s/f2-albu-g7-M01-CE-61-rBVaSlo2H0GAGrABAATcNQgPG44936.png/new-fashion-couples-men-women-unisex-anime.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer"><b> Sale Ends in ... </b> <iframe src="http://free.timeanddate.com/countdown/i6qecwu4/n184/cf11/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pceee/tcfff/fs90/szw256/szh108/iso2019-05-01T00:00:00/pd2" allowTransparency="true" frameborder="0" width="210" height="14"></iframe> </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">FLASH SALE! $12 ONLY ! </div>
                    <div class="panel-body"><img src="https://res.cloudinary.com/teepublic/image/private/s--dAopcoz2--/t_Resized%20Artwork/c_crop,x_10,y_10/c_fit,w_376/c_crop,g_north_west,h_626,w_470,x_-44,y_-18/g_north_west,u_upload:v1462829015:production:blanks:mtl53ofohwq5goqjo9ke,x_-439,y_-343/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1446225678/production/designs/199764_2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer"><b> Sale Ends in ... </b> <iframe src="http://free.timeanddate.com/countdown/i6qecwu4/n184/cf11/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pceee/tcfff/fs90/szw256/szh108/iso2019-05-01T00:00:00/pd2" allowTransparency="true" frameborder="0" width="210" height="14"></iframe></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">FLASH SALE! $10 ONLY ! </div>
                    <div class="panel-body"><img src="https://www.fye.com/on/demandware.static/-/Sites-fye-master/default/dwb837dcf3/stylin/ts_/ts_ble/stylin.ts_bleach_ichigo_one_color_side_0.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer"> <b> Sale Ends in ...</b> <iframe src="http://free.timeanddate.com/countdown/i6qecwu4/n184/cf11/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pceee/tcfff/fs90/szw256/szh108/iso2019-05-01T00:00:00/pd2" allowTransparency="true" frameborder="0" width="210" height="14"></iframe></div>
                </div>
            </div>
        </div>
    </div><br>

</body>
</html>
