
@{
    ViewBag.Title = "Policy";
}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <header class="w3-container w3-deep-orange w3-center" style="padding:105px 16px">
        <h1 class="w3-margin w3-jumbo">Purchase Policy</h1>
    </header>

    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-center">
                <p>
                    Any interested purchasers please order from us at Animazing@gmail.com!
                </p>
                <p>
                    All orders above $85 are eligible for free shipping.
                    USA and Canada shipping $5.95 flat rate for orders below $85.
                    International shipping $9.95 flat rate for orders below $85.
                </p>

                <p>
                    Please kindly keep in mind to add estimated shipping time on top of that:
                    <ul style="list-style: none;">
                        <li>USA 3-8 Business Days</li>
                        <li>Canada 5-10 Business Days</li>
                        <li>WorldWide 7-20 Business Days</li>
                    </ul>
                </p>
                <p>
                    All orders are subject to any customs/import fees or taxes that may be charged by your country.
                </p>
                <p>
                    If you have any questions, please feel free to fill the contact us form and we will do our very best to help you out promptly. We are extremely grateful for the wonderful support of our beloved customers, and strive to give you the best service possible.
                </p>
            </div>

            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

</body>
</html>