
@{
    ViewBag.Title = "Product";
}


<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="~/Scripts/Product.css" rel="stylesheet" />

<body>
    <header class="w3-container w3-deep-orange w3-center" style="padding:105px 16px">
        <h1 class="w3-margin w3-jumbo">Products</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Seasonal Pick </div>
                    <div class="panel-body"><img src="https://cdn.designbyhumans.com/product_images/p/1146155.2c9.32942S7YyNAAA-650x650-b-p.png" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">While stocks last... $18 <button type="submit">Add to Cart</button> </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Seasonal Pick</div>
                    <div class="panel-body"><img src="https://i.ebayimg.com/thumbs/images/m/mDvT7O6Omt2gOatGZzYx4_g/s-l225.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">While stocks last... $15 <button type="submit">Add to Cart</button></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Seasonal Pick</div>
                    <div class="panel-body"><img src="https://cdn.shopify.com/s/files/1/0174/7635/4112/products/mockup-e144db19_1600x.png?v=1550649540" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer"> While stocks last... $20 <button type="submit">Add to Cart</button> </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading"></div>
                    <div class="panel-body"><img src="https://res.cloudinary.com/teepublic/image/private/s--H8FJCfCM--/t_Resized%20Artwork/c_crop,x_10,y_10/c_fit,w_451/c_crop,g_north_west,h_626,w_470,x_-9,y_-91/g_north_west,u_upload:v1462829015:production:blanks:mtl53ofohwq5goqjo9ke,x_-404,y_-416/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1545933120/production/designs/3832976_0.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">While stocks last... $19 <button type="submit">Add to Cart</button> </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Seasonal Pick</div>
                    <div class="panel-body"><img src="https://cdn.shopify.com/s/files/1/0174/7635/4112/products/mockup-d0c94136_800x.png?v=1550649560" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">While stocks last... $21 <button type="submit">Add to Cart</button></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Seasonal Pick</div>
                    <div class="panel-body"><img src="https://www.dhresource.com/0x0s/f2-albu-g8-M01-B0-97-rBVaV1wvUJCAc_eMAAAqQpCLAXk936.jpg/uwu-cute-anime-t-shirt.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">While stocks last... $25  <button type="submit">Add to Cart</button> </div>
                </div>
            </div>
        </div>
    </div><br>


</body>
</html>