
@{
    ViewBag.Title = "Product";
}


<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="~/Scripts/Product.css" rel="stylesheet" />

<body>
    <header class="w3-container w3-deep-orange w3-center" style="padding:105px 16px">
        <h1 class="w3-margin w3-jumbo">Products</h1>
    </header>

    <p></p>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">Fan Favourites</div>
                    <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/I/416Eg4G-RYL._SX342_QL70_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">While stocks last...  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">Fan Favourites</div>
                    <div class="panel-body"><img src="https://res.cloudinary.com/teepublic/image/private/s--c53prLeD--/t_Resized%20Artwork/c_crop,x_10,y_10/c_fit,w_470/c_crop,g_north_west,h_626,w_470,x_0,y_0/g_north_west,u_upload:v1462829020:production:blanks:h778z1f0n6g0xugjpxxm,x_-395,y_-325/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1522312130/production/designs/2540571_0.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">While stocks last...</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">Fan Favourites</div>
                    <div class="panel-body"><img src="https://m.media-amazon.com/images/I/71Iy3frDJrL._AC_UL320_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer"> While stocks last... $20 </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">Seasonal Choices</div>
                    <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYbg86ZRjIAO5pNlo37Q7ts7ujQT_9c7wU8Ge9XDh2j1AKjFgG" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">While stocks last... $19</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">Seasonal Choices</div>
                    <div class="panel-body"><img src="https://d1x7zurbps6occ.cloudfront.net/product/xlarge/452253-138256.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">While stocks last... $21 </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">Seasonal Choices</div>
                    <div class="panel-body"><img src="https://i.ebayimg.com/images/g/TewAAOSwKwhcE2Bs/s-l300.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">While stocks last... $25 </div>
                </div>
            </div>
        </div>
    </div><br>


</body>
</html>