
@{
    ViewBag.Title = "Success";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div>
        <header class="w3-container w3-pale-red w3-center" style="padding:128px 16px">
            <div class="container text-center">
                <img src="https://i.imgur.com/DhrWvP6.png" class="img-responsive" style="width:100%" alt="Image" />
            </div>
        </header>
    </div>
</body>
</html>