

@{
    ViewBag.Title = "Thanks";
}



@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <header class="w3-container w3-pale-red w3-center" style="padding:105px 16px">
        <div class="container text-center">
            <img src="https://i.imgur.com/JL8WZMd.png" class="img-responsive" style="width:100%" alt="Image" />
        </div>
    </header>

</body>
</html>

